* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
}

ul.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media screen and (min-width: 700px) {
  ul.list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 30px;
  }
}

@media screen and (min-width: 1000px) {
  ul.list {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 50px;
  }
}
